@media(max-width:960px){
    .container{
        max-width: 75%;
    }

    .description{
        width: 100%;
    }

    .description_text h1{
        font-size: 5rem;
        line-height: 5.5vw;
    }

    .description_text p{
        font-size: 1.3rem;
        line-height: 3vw;
    }

    .header_logo {
        width: 15vw;
    }

    header .description_text .button_order{
        padding: 0vw 0vw;  
    }

    header .description_text a{
        font-size: 1.5rem;
        padding: 1.5vw 2vw;
        font-weight: normal;
    }

    header .bars{
        display: block;
        width: 50px;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }

    header .bars:hover{
        transform: scale(1.1);
    }

    header .bars path{
        fill: white;
    }
    
    header .backArrow{
        width: 50px;
        display: none;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }

    header .backArrow:hover{
        transform: scale(1.1);
    }

    header .backArrow path{
        fill: white;
    }
    
    .header_content-inner{
        display: flex;
        justify-content: flex-end;
        padding: 4vw 0px 6vw 0px;
        width: 110%;
    }

    .header_content-inner .menu ul{
        width: 100%;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #ee516f;
        z-index: 5;
        transform: translateX(100%);
        transition-duration: 0.5s;
        padding: 15vw 0vw;
    }

    .menu li{
        display: inline-block;
    }
    
    .menu a{
        padding: 2vw 2vw;
        font-size: 2rem;
    }

    .menu .button_order{
        padding: 0vw 0vw;
        margin-top: 3rem;
    }

    .menu .button_order a{
        padding: 2vw 2vw;
        font-size: 2rem;
    }

    header .header_person{
        right: 10%;
        width: 39vw;
    }

    header .description_text .button_order{
        margin-left: 4vw;
    }

    header .header_brush{
        top: -43%;
        left: 2.5%;
        z-index: 2;
        width: 29vw;
    }

    .about_us .description_text{
        width: 110%;
    }

    .about_us .local_flexbox:first-child{
        padding-top:5vw ;
    }

    .about_us_balloon {
        bottom: -27vw;
        right: -7vw;
        width: 65%;     
    }

    .about_person .button_order{
        padding: 0vw 0vw;
    }

    .about_person .button_order a{
        font-size: 1.5rem;
        padding: 1.5vw 2vw;
        font-weight: normal;
    }


    .result .general_flexbox{
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
    }

    .result .description{
        display: flex;
        justify-content: flex-end;
    } 

    .result .description_text {
        width: 55%;
        margin-left: 15%;
    }

    .result_works {
        width: 60%;
        margin: 10vw auto 5vw auto;;
    }

    .result_pencils {
        width: 37%;
    }

    .result .description_text a{
        font-size: 1.5rem;
        padding: 1.5vw 2vw;
        font-weight: normal;
    }

    .result .description_text .button_order{
        padding: 0vw 0vw;
        border-radius: 3vw;
    }

    .excellence_water_colors {
        bottom: -47%;
        left: -5%;
        z-index: 2;
    }

    .excellence_brush_small_2 {
        bottom: -38%;
        left: -14%;
    }

    .excellence_brush_small_1 {
        bottom: -14%;
        left: -12%;
    }

    .excellence_brush_small_1, 
    .excellence_brush_small_2, 
    .excellence_water_colors {
        width: 33%;
    }

    .excellence_colors img {
        width: 95%;
    }

    .excellence .description_text a {
        font-size: 1.5rem;
        padding: 1.5vw 2vw;
        font-weight: normal;
    }

    .excellence .description_text .button_order{
        padding: 0vw 0vw;
        border-radius: 3vw;
    }

    .footer_sharpener{
        display: none;
    }

    .footer_pen{
        display: none;
    }

    .footer_pen_black{
        display: none;
    }

    footer .menu .button_order{
        display: none;
    }

    .footer_form {
        width: 50%;
        height: 100%;
        padding: 3% 3%;
    }

    .footer_form h2, .footer_form_hidden h2 {
        font-size: 3rem;
        line-height: 3.5rem;
        text-align: center;
    }

    .footer_form span, .footer_form_hidden span {
        font-size: 1.5rem;
        text-align: center;
        margin: 1rem 0rem 3rem 0rem;
    }

    form input {
        margin-bottom: 4rem;
        line-height: 2.5rem;
        font-size: 2rem;
    }

    .footer_form_hidden {
        width: 60%;
        padding: 3% 3%;
    } 
    
    footer .button_order{
        padding: 0vw 0vw;
        margin: 0vw 0vw 3vw 0vw;
    }

    footer .button_order a{
        font-size: 1.5rem;
        padding: 1.5vw 2vw;
        font-weight: normal;
    }

    .footer_logo {
        width: 15vw;
    }

    .footer_icons a {
        width: 30px;
        height: 30px;
    }

    .footer_icons {
        padding: 30px 0px;
    }

    .footer_icons svg {
        width: 30px;
    }
}

@media(max-width:769px){
    html{
        font-size: 10px;
    }

    .container{
        max-width: 90%;
    }

    .header_content-inner{
        width: 100%;
    }

    .menu .button_order{
        margin-top: 6vw;
        margin-left: 0vw;
        border-radius: 4rem;
    }

    .menu .button_order a{
        font-size: 2rem;
        padding: 2rem 2rem;
    }

    .description{
        padding-bottom: 80vw;
    }

    .description_text h1{
        font-size: 5rem;
        line-height: 5.5rem;
    }

    .description_text{
        text-align: center;
    }

    .description_text p{
        font-size: 1.3rem;
        line-height: 3rem;
        text-align: center;
    }

    header .description_text .button_order {
        margin-top: 6vw;
        margin-left: 0vw;
        border-radius: 4rem;
    }
    
    header .description_text .button_order a{
        font-size: 2rem;
        padding: 2rem 2rem;
    }

    header .header_person {
        right: 26%;
        bottom: 12%;
        width: 45vw;
    }

    header .header_brush {
        display: none;
    }

    .header_change_fon{
        top: -50vw;
    }

    .general_flexbox {
        justify-content: center;
        flex-direction: column-reverse;
        padding-top: 10vw;
    }

    .local_flexbox {
        width: 100%;
    }
    
    .about_us .description_text {
        width: 100%;
        margin-left: 0%;
    }

    .about_us_person {
        width: 55%;
        margin: 0 auto;
    }

    .about_person .button_order{
        margin-top: 6vw;
        margin-left: 0vw;
        border-radius: 4rem;
    }

    .about_person .button_order a{
        font-size: 2rem;
        padding: 2rem 2rem;
    }

    .about_person {
        width: 100%;
        margin-left: 0%;
        margin-top: 12vw;
    }

    .about_person .description_text h3 {
        font-size: 1.5rem;
        line-height: 1.7rem;
    }    

    .about_person .description_text p {
        text-align: center;
    } 
    
    .about_us_balloon{
        display: none;
    }

    .excellence .description {
        padding: 10vw 0vw;
    }

    .excellence .description_text .button_order {
        margin-top: 6vw;
        margin-left: 0vw;
        border-radius: 4rem;
    }

    .excellence .description_text .button_order a{
        font-size: 2rem;
        padding: 2rem 2rem;
    }

    .excellence_colors {
        width: 69vw;
        padding-bottom: 0vw;
        margin: 0 auto;
        position: relative;
        height: 69vw;
    }

    .excellence_colors_img{
        width: 69vw;
        padding-bottom: 0vw;
        margin: 0 auto;
        position: relative;
        height: 69vw;
        border-radius: 50%;
        overflow: hidden;
    }

    .excellence_colors img {
        width: 326%;
        position: absolute;
        top: -3%;
        left: -90%;
    }

    .excellence_brush_small_1, 
    .excellence_brush_small_2, 
    .excellence_water_colors {
        display: none;
    }

    .result_prev, .result_next {
        width: 50px;
        height: 50px;
    }

    .result .description_text {
        width: 100%;
        margin-left: 0%;
    }

    .result_works {
        width: 69vw;
    }

    .excellence .result_change {
        width: 110%;
        left: -5%;
        top: 45%;
        display: flex;
    }

    .result_pencils {
        display: none;
    }

    .result .description_text .button_order{
        margin-top: 6vw;
        margin-left: 0vw;
        border-radius: 4rem;
    }

    .result .description_text .button_order a{
        font-size: 2rem;
        padding: 2rem 2rem;
    }

    .footer_contacts {
        display: none;
    }

    .footer_form {
        width: 80%;
        right: 10%;
        padding: 5% 5%;
    }

    footer .button_order{
        margin-top: 6vw;
        margin-left: 0vw;
        border-radius: 4rem;
    }

    footer .button_order a{
        font-size: 2rem;
        padding: 2rem 2rem;
    }
}

@media(max-width:460px){
    .header_change_fon {
        bottom: 28vw;
        top: auto;
    }

    .description_text h1 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .description_text p br {
        display: none;
    }

    #header .description_text .button_order,
    #about_us .description_text .button_order,
    #excellence .description_text .button_order,
    #result .description_text .button_order {
        margin-top: 10vw;
    }

    .about_us_person {
        width: 80%;
    }
}